/* This stylesheet is for global styles
Each React component has its own embedded styling */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
  min-height: 100vh;
}

#tsparticles {
  position: absolute; /* or fixed, depending on whether you want it to scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Places particles behind other content */
}

#gameBoard {
  background-image: url("./assets/images/paper.png");
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.mainContentContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  gap: 18px;
}

.rightSideOfGameboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.buttonContainer {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #fff;
  }
}
@media screen and (max-width: 430px) {
  #gameBoard {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 431px) {
  #gameBoard {
    padding: 50px;
  }
}